@model IEnumerable<transport.Models.ApplicationModels.Naczepa>
    <font color="white">
        @{
            ViewData["Title"] = "Index";
        }
        <h2>Naczepa</h2>
       
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Marka)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rodzaj)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NrRejestr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataProd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Wymiary)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marka)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rodzaj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NrRejestr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataProd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Wymiary)
                        </td>
                        <td>                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </font>
