@model transport.Models.ApplicationModels.Tankowanie

<font color="white">
    @{
        ViewData["Title"] = "Delete";
    }
    <h2>Usuń</h2>
    <h3>Czy napewno chcesz usunąć?</h3>
    <div>        
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="IdTankowania" />
            <dt>
                @Html.DisplayNameFor(model => model.PrzebiegTankow)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrzebiegTankow)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IloscPaliwa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IloscPaliwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WartoscPaliwa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WartoscPaliwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataTank)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataTank)
            </dd>           
            <dt>
                @Html.DisplayNameFor(model => model.Pojazd)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pojazd.NrRejestr)
            </dd>
            <dt>
               Kierowca
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pracownik.GetFullName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a asp-action="Index">Wstecz</a>
            </div>
        </form>
    </div>
</font>