@model IEnumerable<transport.Models.ApplicationModels.Tankowanie>

<font color="white">

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Tankowania</h2>
       
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataTank)
                </th>
                <th>
                    Kierowca
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IloscPaliwa)
                </th>  
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataTank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pracownik.GetFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IloscPaliwa)
                </td>               
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdTankowania">Więcej</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTankowania">Usuń</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</font>