@model IEnumerable<transport.Models.Pracownik>

<font color="white">

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Pracownicy</h2>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nazwisko)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ulica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Miasto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataUrodz)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataZatru)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataKonUmowy)
                </th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ulica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miasto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @(item.DataUrodz.ToString("dd/MM/yyyy"))
                        @{/*Html.DisplayFor(modelItem => item.DataUrodz)*/}

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataZatru)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataKonUmowy)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PracownikId">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.PracownikId">Wiêcej</a> |
                        <a asp-action="Delete" asp-route-id="@item.PracownikId">Usuñ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
</font>