@model IEnumerable<transport.Models.Pracownik>
    <font color="white">
        @{
            ViewData["Title"] = "Index";
        }
        <h2>Kierowcy</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Imie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nazwisko)
                    </th>                   
                    <th>
                        @Html.DisplayNameFor(model => model.Miasto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefon)
                    </th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Imie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwisko)
                        </td>                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Miasto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>                       
                        <td>                           
                            <a asp-action="Details" asp-route-id="@item.PracownikId">Więcej</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </font>
