@model transport.Models.ApplicationModels.Kontrahent

<font color="white">

    @{
        ViewData["Title"] = "Delete";
    }

    <h2>Usuń</h2>

    <h3>Czy napewno chcesz usunąć tego kontrahenta?</h3>
    <div>
        <h4>Kontrahent</h4>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="IdKontrahent" />
            <dt>
                @Html.DisplayNameFor(model => model.Nazwa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nazwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NIP)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NIP)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Regon)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Regon)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Wlasciciel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Wlasciciel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ulica)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ulica)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Kod)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kod)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Miasto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Miasto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EMail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EMail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Typ)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Typ)
            </dd>           
        </dl>

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a asp-action="Index">Wróć do listy</a>
            </div>
        </form>
    </div>
</font>