@model IEnumerable<transport.Models.ApplicationModels.Kontrahent>

<font color="white">
    @{
        ViewData["Title"] = "Index";
    }
    <h2>Kontrahenci</h2>
    <p>
        @if (User.IsInRole("Firma"))
        {
            <a asp-action="Create">Dodaj nowego</a>
        }
        else
        {
            <a asp-action="CreateSpedytor">Dodaj nowego</a>
        }
    </p>
    <form asp-action="Index" method="get">
        <div class="form-actions">
            <p>
                Szukaj:<font color="black"> <input type="text" name="SearchString" value="@ViewData["currentFilter"]" /></font>
                <input type="submit" value="OK" class="btn btn-default" /> |
                <a asp-action="Index">Wróć do pełnej listy</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>                   
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.Nazwa)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wlasciciel)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["MiastoSortParm"]">@Html.DisplayNameFor(model => model.Miasto)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Typ)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wlasciciel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miasto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Typ)
                    </td>
                    <td>
                        @if (User.IsInRole("Firma"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.IdKontrahent">Edytuj</a>
                        }
                        else
                        {
                            <a asp-action="EditSpedytor" asp-route-id="@item.IdKontrahent">Edytuj</a>
                        }
                        | <a asp-action="Details" asp-route-id="@item.IdKontrahent">Więcej</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdKontrahent">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</font>