@model IEnumerable<transport.Models.ApplicationModels.Kontrahent>

<font color="white">

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Kontrahenci</h2>

    <p>
        <a asp-action="Create">Dodaj nowego</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIP)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.Wlasciciel)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Miasto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Typ)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wlasciciel)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Miasto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Typ)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdKontrahent">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.IdKontrahent">Więcej</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdKontrahent">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</font>