@model transport.Models.ApplicationModels.Ogloszenie


<font color="white">

    @{
        ViewData["Title"] = "Details";
    }

    <h2>Szczegó³y</h2>

    <div>
        <h4>Og³oszenie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DataDodania)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataDodania)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Typ)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Typ)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tresc)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tresc)
            </dd>            
            <dt>
                @Html.DisplayNameFor(model => model.Firmy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Firmy.Nazwa)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdOgloszenie">Edytuj</a> |
        <a asp-action="Index">Wróæ do listy</a>
    </div>

</font>
