@model transport.Models.ApplicationModels.Ogloszenie


<font color="white">
    @{
        ViewData["Title"] = "Details";
    }
    <h2>Szczegóły</h2>
    <div>
        <h4>Ogłoszenie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DataDodania)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataDodania)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Typ)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Typ)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tresc)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tresc)
            </dd>           
        </dl>
    </div>
    <div>
        <a asp-action="EditFirma" asp-route-id="@Model.IdOgloszenie">Edytuj</a> |
        <a asp-action="IndexFirma">Wróć do listy</a>
    </div>
</font>
