@model IEnumerable<transport.Models.ApplicationModels.Ogloszenie>




<font color="white">

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Ogłoszenia:</h2>
        
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataDodania)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Typ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tresc)
                </th>              
                <th>
                   Nazwa Firmy
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDodania)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Typ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tresc)
                    </td>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Firma.Nazwa)
                    </td>
                    <td>                      
                        <a asp-action="Details" asp-route-id="@item.IdOgloszenie">Szczegóły</a>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</font>
