@model IEnumerable<transport.Models.ApplicationModels.Ogloszenie>


    <font color="white">
        @{
            ViewData["Title"] = "Index";
        }
        <h2>Ogłoszenia:</h2>
        <p>
            <a asp-action="CreateFirma">Dodaj nowe</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DataDodania)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Typ)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tresc)
                    </th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataDodania)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Typ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tresc)
                        </td>                        
                        <td>
                            <a asp-action="EditFirma" asp-route-id="@item.IdOgloszenie">Edytuj</a> |
                            <a asp-action="DetailsFirma" asp-route-id="@item.IdOgloszenie">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdOgloszenie">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </font>
