@model transport.Models.ApplicationModels.Zlecenie

<font color="white">
    @{
        ViewData["Title"] = "Delete";
    }
    <h2>Usuń</h2>
    <h3>Czy napewno chcesz usunąć to zlecenie?</h3>
    <div>       
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="IdZlecenie" />
            <dt>
                @Html.DisplayNameFor(model => model.AdresOdbioru)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdresOdbioru)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AdresDosta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdresDosta)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataZalad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataZalad)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GodzZalad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GodzZalad)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataRozl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataRozl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GodzRozl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GodzRozl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Uwagi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Uwagi)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DaneTowar)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DaneTowar)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WagaTow)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WagaTow)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WartoscNetto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WartoscNetto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Waluta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Waluta)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Kontrahent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kontrahent.Nazwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Naczepa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naczepa.NrRejestr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pojazd)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pojazd.NrRejestr)
            </dd>
            <dt>
               Kierowca
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pracownik.GetFullName)
            </dd>
        </dl>
        <form asp-action="DeleteSpedytor">
            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
               
                    <a asp-action="IndexSpedytor">Wstecz</a>

            </div>
        </form>
    </div>
</font>